* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap&#39;');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', 'sans-serif';
}

/* 
^= Starts with ...
*= Contains
$= 
*/
@media (min-width:300px) {

    header {
        display: flex;
        flex-direction: column;
        height: 50vh;
        background-color: cornflowerblue;
        color: whitesmoke;
        padding: 5%;
    }

    header>article {
        text-align: center;
    }

    header>article:nth-child(1) {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    header>article:nth-child(2) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    summary {
        font-size: 30px;
    }

    details>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    details li {
        width: 100%;
        list-style-type: none;
        display: flex;
    }

    details a {
        text-decoration: none;
        color: black;
        width: 100%;
        background-color: whitesmoke;
        padding: 5% 0 5%;
    }

    nav>ul {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
        min-height: 30vh;
        justify-content: center;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15% 0 15%;
    }

    .features>h2 {
        border-bottom: 1px solid cornflowerblue;
        width: fit-content;
        padding-bottom: 5%;
    }

    .features>article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3%;
    }

    .features div {
        padding: 3%;
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .features i {
        color: cornflowerblue;
        font-size: 28px;
    }

    .features p {
        font-size: 14px;
    }

    .computer {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        background-color: whitesmoke;
        padding: 15% 0;
    }

    .computer>article {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 2%;
    }

    .computer img {
        width: 100%;
    }

    .computer div {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        align-items: center;
    }

    .computer i {
        width: 20%;
        color: white;
        font-size: 36px;
        background-color: cornflowerblue;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .computer p {
        font-size: 14px;
    }

    .computer aside {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 80%;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10% 0 10%;
    }

    .services>h2 {
        width: 100%;
        text-align: center;
        padding-bottom: 10% 0 10%;
    }

    .services h3 {
        font-size: 16px;
        padding-bottom: 10% 0 10%;
    }

    .services>article {
        width: 40%;
        text-align: center;
        padding: 2%;
    }

    .services article:nth-child(even) {
        background-color: lightgray;
    }

    .services i {
        font-size: 36px;
    }

    .services p {
        font-size: 14px;
    }


    .call-action {
        text-align: center;
        background-image: url(../img/dashboard-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
    }

    .call-action p {
        padding-top: 10%;
    }


    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20% 5%;
    }

    .about h2 {
        width: fit-content;
        border-bottom: 1px solid cornflowerblue;
        padding-bottom: 5%;
    }

    .about div {
        padding-top: 10%;
    }

    .about div>figure {
        padding: 10%;
    }

    .about p {
        padding-top: 5%;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: cornflowerblue;
        padding: 10% 5%;
        color: whitesmoke;
        min-height: 30vh;
    }

    .testimonials h2 {
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 5%;
    }

    .testimonials>p {
        text-align: center;
    }

    .testimonials h2 footer>div,
    footer>span {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    footer [class^="fa-"] {
        text-decoration: none;
        color: gray;
        font-size: 24px;
    }

    footer a {
        color: cornflowerblue;
        text-decoration: none;
    }
}

@media (min-width: 600px) {

    header {
        font-size: 26px;
    }

    header h1 {
        font-size: 50px;
    }

    details>ul {
        width: 20%;
    }

    .features {
        padding: 5% 0 3%;
    }

    .features h2 {
        font-size: 36px;
    }

    .features i {
        font-size: 36px;
    }

    .features h4 {
        font-size: 20px;
    }

    .features p {
        font-size: 18px;
    }

    .features article {
        width: 80%;
        justify-content: center;
    }

    .computer article {
        align-items: center;
    }

    .computer div {
        width: 70%;
        justify-content: center;
    }

    .services {
        padding-top: 5%;
    }

    .services h2 {
        font-size: 36px;
        padding: 1% 0 3%;
    }

    .services i {
        font-size: 56px;
    }

    .services h3 {
        font-size: 26px;
    }

    .services p {
        font-size: 20px;
    }

    .call-action>h2 {
        font-size: 36px;
    }

    .call-action>p {
        font-size: 24px;
    }

    .about {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .about>h2 {
        padding-bottom: 2%;
        font-size: 36px;
    }

    .about div>figure {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .about figcaption {
        font-size: 30px;
    }

    .about p {
        font-size: 24px;
    }

    .about img {
        width: 80%;
    }

    .testimonials {
        min-height: 15vh;
    }

    .testimonials>h2 {
        padding-bottom: 2%;
        font-size: 36px;
    }

    .testimonials>p {
        font-size: 20px;
        padding-top: 2%;
    }

    footer {
        min-height: 15vh;
    }

    footer>div,
    footer>span {
        justify-content: center;
        column-gap: 15px;
    }
}

@media (min-width: 1000px) {

    .services h2 {
        width: 100%;
        font-size: 50px;
        padding-bottom: 2%;
    }

    .services article {
        width: 25%;
    }

    .call-action {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .call-action p {
        padding: 5%;
        width: 80%;
        padding-bottom: 5%;
    }

    .about>h2,
    .call-action>h2 {
        width: fit-content;
        border-bottom: 2px solid cornflowerblue;
        font-size: 50px;
        padding-bottom: 2%;
    }

    .about>h2 {
        font-size: 50px;
        padding-bottom: 2%;
    }

    .about>div {
        display: flex;
        flex-direction: row;
        width: 95%;
        padding: 0;
        padding-top: 5%;
    }

    .about div>figure {
        width: 30%;
        padding: 0;
    }

    .testimonials {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .testimonials h2 {
        font-size: 50px;
    }

    .testimonials p {
        font-size: 30px;
    }

    footer [class^="fa-"] {
        font-size: 28px;
    }
}